/*--TITLE BODY--*/

#title{
  background-color: #ff4c68;
  padding: 3% 15%;
  color: white;
}
.navbar-brand{
  font-family: 'Freckle Face', cursive;
  font-size: 2.25rem;
}
.first-line {
  font-size: 3.5rem;
  line-height: 1.5;
  font-family: 'Lobster', cursive;
}
.navbar{
  margin-bottom: 15px;
}
.row{
  margin-top: 50px;
}
.download-btn{
  margin: 5px 30px 30px 0px;
}
.title-img{
  margin-left: 100px;
  width: 45%;
  transform: rotate(25deg);
}
  /*-- Features --*/
#features{
  padding: 3% 15%;
  background-color: #f0d1d1;
}
h3{
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}
.feature-heading{
  font-size: 24px;
  margin-top: 5px;
}
.feature-box{
  text-align: center;
  padding: 4%;
}

   /*Testimonials*/

#testimonials{
  padding: 7% 25%;
  padding-bottom: 2%;
  text-align: center;
  background-color: #ff4c68;
  color: #fff;
}
#carouselExampleControls {
  background-color: #fc70938f;
  padding: 3px;
  border-radius: 10px;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.testimonials-img{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* press*/

#press{
  background-color: #ff4c68;
  text-align: center;
}
.press-logo{
  width: 20%;
  padding: 5%;
}



/* pricing */
#pricing{
  text-align: center;
  padding: 4%;
  background-color: #f0d1d1;
}
.card-header{
  background-color: #ff6f86c4;
}
.btn-sign-up {
  background: #faa0af;
  background-image: -webkit-linear-gradient(top, #faa0af, #e0e0e0);
  background-image: -moz-linear-gradient(top, #faa0af, #e0e0e0);
  background-image: -ms-linear-gradient(top, #faa0af, #e0e0e0);
  background-image: -o-linear-gradient(top, #faa0af, #e0e0e0);
  background-image: linear-gradient(to bottom, #faa0af, #e0e0e0);
  -webkit-border-radius: 18;
  -moz-border-radius: 18;
  border-radius: 18px;
  text-shadow: 1px 2px 3px #1f151f;
  -webkit-box-shadow: 1px 1px 4px #666666;
  -moz-box-shadow: 1px 1px 4px #666666;
  box-shadow: 1px 1px 4px #666666;
  font-family: Arial;
  color: #ededed;
  font-size: 20px;
  padding: 10px;
  text-decoration: none;
  border: 0px;
}

.btn-sign-up:hover {
  background: #969899;
  background-image: -webkit-linear-gradient(top, #969899, #353738);
  background-image: -moz-linear-gradient(top, #969899, #353738);
  background-image: -ms-linear-gradient(top, #969899, #353738);
  background-image: -o-linear-gradient(top, #969899, #353738);
  background-image: linear-gradient(to bottom, #969899, #353738);
  text-decoration: none;
}

  /* call to action */

#cta{
  padding: 3%;
  text-align: center;
  background-color: #ff4c68;
}

  /* footer */

  #footer{
    text-align: center;
    background-color: #ff4c68;
    height: 25px;

  }
